<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>YouMayCallMeV-Online Proxy</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link href="../mdui/css/mdui.min.css" rel="stylesheet">
        <script type="text/javascript" src="../mdui/js/mdui.min.js"></script>
        <script type="text/javascript" src="../jquery/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="../js/proxy.js"></script>
        <script type="text/javascript" src="../js/jsencrypt.min.js"></script>
        <style>
            body {
                overflow: hidden;
            }
            .mdui-container-fluid {
                padding-right: 2px !important;
                padding-left: 2px !important;
                width: 100%;
            }
            .mdui-textfield-input {
                display: inline;
                width: 80%;
            }
            #btn-search-toggle {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 999;
            }
            .searchBar {
                position: absolute;
                top: 0;
                left: 0;
                background-color: #f5f5f5 !important;
            }
            .removeBackground {
                opacity: 1;
            }
            .mdui-textfield-go {
                right: 30px !important;
            }
            ::-webkit-scrollbar{-webkit-appearance:none;width:8px;height:8px}
            ::-webkit-scrollbar-track{background-color:inherit}
            ::-webkit-scrollbar-thumb{background-color:#b6b6b6;border:1px solid #fff;border-radius:10px}
            ::-webkit-scrollbar-thumb:hover{background-color:#9d9d9d}
            ::-webkit-scrollbar-thumb:active{background-color:#838383}
        </style>
    </head>
    <body>
        <button id="btn-search-toggle" class="mdui-btn mdui-btn-icon">
            <i class="mdui-icon material-icons">&#xe8b6;</i>
        </button>
        <div class="mdui-container-fluid searchBar">
            <input id="url" name="url" class="mdui-textfield-input expandable" type="url" placeholder="Search" autofocus="autofocus" style="margin-left: 36px;"/>
            <button id="btn-search" class="mdui-textfield-go mdui-btn mdui-btn-icon expandable">
                <i class="mdui-icon material-icons">&#xe5c8;</i>
            </button>
        </div>
        <iframe id="content" width="100%" height="100%" frameborder="0" />
    </body>
</html>